.calva/mcp-server/port
*.class
*.jar
/.calva/repl.calva-repl
/.clj-kondo/.cache
/.cpcache
/.lein-*
/.lsp/.cache
/.nrepl-port
/.portal/vs-code.edn
/checkouts
/classes
/doc
/target
pom.xml
pom.xml.asc
outdated.txt
